.header-checkout {
  color: #eee;            /* Cambié el texto a verde (antes el fondo) */
  text-align: center;
  font-size: 20px;           /* Texto mucho más grande */
  background: #00523D;;   /* Quita el fondo */
  padding: 0.1rem 0;           /* Más espacio arriba y abajo */
  margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fbf9e6;
    font-family: 'Poppins', sans-serif;
  }

  .checkout-form h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  
  /* Contenedor a pantalla completa */
  .checkout-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: left;
    
  }
  
  .checkout-form {
    flex: 2;
    background: #fcfbf3;
    border: none;
    border-radius: 0;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .checkout-summary {
    flex: 1;
    background: #097125;
    border: none;
    border-radius: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  }

  .checkout-summary h5 {
    font-size: 18px;
    color: #eee;
    font-weight: bold;
  }
  .checkout-summary body {
    font-size: 10px;
    color: #eee;
  }
  
  .basket_product-cards {
    overflow-y: auto;
    flex: 1;
    margin-bottom: 1rem;
    color:#eee;
  }
  
  .basket_product {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .basket_product .producto-img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .basket_footer {
    border-top: 1px solid #eee;
    padding-top: 1rem;
  }
  
  .btn-dark {
    background-color: #000;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #222;
  } 